# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular languages for Data Science.
- list most common libraries used in Data Science
- list tools used in Data Science

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Panda
3. Seaborn
4. Keras

|Data Science Tools |
:---------------
|Julia |
|MATLAB |
|Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
print(round(200/6,2))

33.33

## Author:
Antonio E Ribeiro Villar